.container {
  max-width: 600px;
  width:100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: aqua;
  background-color: bisque;
}
body, #root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
  background-color: #e0e0e0; 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.add-item-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.v__button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.v__button:hover {
  background-color: #218838;
}
.v__button:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
  opacity: 0.7;
}

.v__list-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

li:last-child {
  border-bottom: none;
}
